/* OpenSans */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
}

/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

/* BebasNeue */
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeue Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeue Regular.ttf') format('truetype');
    font-weight: 400;
}
